vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|09 Apr 2015 20:00:34 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|admin.php
vti_author:SR|VAIO\\SONY
vti_modifiedby:SR|VAIO\\SONY
vti_timecreated:TR|09 Apr 2015 20:00:34 -0000
vti_cacheddtm:TX|09 Apr 2015 20:00:34 -0000
vti_filesize:IR|2659
vti_cachedlinkinfo:VX|S|../images/button.png
vti_cachedsvcrellinks:VX|FSUS|images/button.png
