vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|19 Oct 2015 01:09:51 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|admin.php
vti_author:SR|VAIO\\SONY
vti_modifiedby:SR|VAIO\\SONY
vti_timecreated:TR|19 Oct 2015 01:09:51 -0000
vti_cacheddtm:TX|19 Oct 2015 01:09:51 -0000
vti_filesize:IR|13063
vti_cachedlinkinfo:VX|S|distro2_bats-webfont.eot S|distro2_bats-webfont.eot S|distro2_bats-webfont.woff S|distro2_bats-webfont.ttf S|distro2_bats-webfont.svg
vti_cachedsvcrellinks:VX|FSUS|css/idealForms/distro2_bats-webfont.eot FSUS|css/idealForms/distro2_bats-webfont.eot FSUS|css/idealForms/distro2_bats-webfont.woff FSUS|css/idealForms/distro2_bats-webfont.ttf FSUS|css/idealForms/distro2_bats-webfont.svg
